doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Hello Bulma!
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css")

  body
    include partials/header
    section.section
      .container
        h1.title Hello World

        p
          | Para poder utilizar este calculador solo debes de ingresar el número de discos que quieres que el problema tenga. Se va a asumir la posición de inicio es el lado izquierdo y la final es el derecho. Te recomiendo mucho no exceder más de 15 si no deseas que tu compu muera.

        form(action="/test", method="POST")
          input(type="hidden", name="_csrf", value=csrfToken)
          .field
            label.label Número
            input.input(
              type="text",
              placeholder="Número",
              name="value"
            )

          .field.is-grouped
            button.button.is-link(type="submit") Submit

        .buttons.mt-4
          form(action="/test/view", method="GET")
            button.button.is-link(type="submit") View full
