doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Hello Bulma!
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css")

  body
    section.section
      .container
        h1.title Preguntas

        .card
          header.card-header
            p.card-header-title ¿Qué otros templating engines existen para node?

          .card-content
            .content
              | Existen algunos motores de templating para node. Uno de ellos es ejs, que es probablemente el más popular. También existe pug, que es el que se está utilizando en este laboratorio. Pug es chido porque tiene el logo de un pug. También está handlebars, que también es chido porque su logo son unos bigotes.

