doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Hello Bulma!
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css")

  body
    section.section
      .container
        h1.title Preguntas

        .card
          header.card-header
            p.card-header-title ¿Qué beneficios encuentras en el estilo MVC?

          .card-content
            .content
              | Una mejor estructura de código, lo que lo hace más fácil de leer y de corregir. También separa las funcionalidades y capas de una aplicación para tener un mejor decoupling e inclso se presta para una mejor experiencia a la hora de trabajar colaborativamente con otros.

        .card
          header.card-header
            p.card-header-title ¿Encuentras alguna desventaja en el estilo arquitectónico MVC?

          .card-content
            .content
              | Fuera de escribir un poco más de código y tener que aprender una estructura nueva, no noto problemas, pero eso se puede deber a mi falta de experiencia. Aunque es verdad que no observo la capa del dominio para un modelado completo, no tampoco la capa de la aplicación para la lógica del programa.

